<section class="container">
  <h2>Aceptar invitación</h2>
    @if(state === 'loading'){
    <div class="card" *ngIf="state === 'loading'">Procesando...</div>
    }
    @if(state === 'ok'){
    <div class="card ok">
        <h3>¡Invitación aceptada!</h3>
        <p>Ya puedes iniciar sesión desde la app correspondiente.</p>
        <pre>{{ detail | json }}</pre>
        <a class="btn" routerLink="/">Ir al inicio</a>
    </div>
    }
    @if(state === 'error'){

    <div class="card error">
        <h3>Error al procesar la invitación</h3>
        <pre>{{ detail | json }}</pre>
    </div>
    }
</section>
