<section class="container">
  <a routerLink="/" class="back">← Volver</a>
  <h2>Invitar Staff</h2>

  <form (ngSubmit)="submit()" #f="ngForm" class="card">
    <label>
      Correo del invitado
      <input name="email" [(ngModel)]="email" type="email" required placeholder="correo@ejemplo.com">
    </label>

    <label>
      Rol
      <select name="role" [(ngModel)]="role">
        <option value="doctor">Doctor</option>
        <option value="lab">Lab Staff</option>
      </select>
    </label>

    <button class="btn primary" [disabled]="loading || !f.valid">Enviar invitación</button>
  </form>

  <section *ngIf="result" class="card">
    <h3>Resultado</h3>
    <pre>{{ result | json }}</pre>
    @if(result?.enrollmentUrl){
    <p>
      Link de inscripción:<br>
      <a [href]="result?.enrollmentUrl" target="_blank">{{ result?.enrollmentUrl }}</a>
    </p>
    }

  </section>
</section>
